[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kaggle = "*"
nba-magic-stat = {editable = true, path = "./nba_magic_stat"}
python-box = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.8"
